asgiref==3.2.7
config==0.5.0.post0
decouple==0.0.7
dj-database-url==0.5.0
Django==3.1.13
django-widget-tweaks==1.4.8
Jinja2==2.11.2
Markdown==3.2.2
MarkupSafe==1.1.1
mysql-connector-python==8.0.20
Pillow==7.1.2
psycopg2==2.8.5
psycopg2-binary==2.8.5
py2exe==0.9.2.2
pydevd-pycharm==201.7223.92
PyPDF2==1.26.0
python-decouple==3.3
pytz==2020.1
sqlparse==0.3.1